@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body {
    height: 100vh;
    background-image: url("../img/darkpokedex-large-bg-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.btn-pokemon {
    width: 80%;
    background-color:rgb(185, 144, 185);
    color:seashell;
}

.fav-pokemon {
    background-color: black;
    color: #e7d75c;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.header-color {
    color: #e7d75c;
}

/* HEADER */

nav.nav-extended {
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 2;
}

.nav-wrapper {
    line-height: 10vh;
    text-transform: uppercase;
    margin: 0 2.5vw;
}

nav .brand-logo {
    font-family: 'Zen Dots', 'cursive';
    line-height: 3.5vh;
    font-size: 1.8vh;
    padding-top: 0.5vh;
}

nav .brand-logo .title {
    font-size: 5vh;
}

/* FLASHES */
section {
    margin-top: 10vh;
}

/* search bar */

.search-button {
    padding-top: 2vh !important;
}

/* HOME */

.home-grid {
    height: 25vh;
    width: 33vw;
    padding: 1.5vh 1.5vw !important;
}

.home-button {
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 5%;
}

.home-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 1;

    /* fixes overlap error in IE7/8, 
       make sure you have an empty gif */
    background-image: url('empty.gif');
}

.home-header {
    text-transform: uppercase;
    font-size: 3vh;
}

.home-p {
    text-transform: capitalize;
    line-height: normal;
}

/* .pokemon-img {
    border: solid 2.5px black;
} */

.flashes h4 {
    color: whitesmoke;
}

.search-bar {
    color: whitesmoke;
}

/* POKEDEX */

.pokedex-entry {
    padding: 15px 0;
    background-color: rgba(255, 255, 255, 1);
}

.pokedex-entry>.center-align {
    padding: 15px 25px;
}

.pokedex-under-img {
    padding-top: 1vh;
    margin: 0;
}

.pokedex-id {
    padding-top: 0.5vh !important;
}

/* TRAINER PROFILE */

.trainer-name {
    margin: 0;
    font-size: 45px;
}

.trainer-img {
    max-width: 100%;
}

.trainer-bio {
    padding: 20px;
    font-size: medium;
}

/* THEMES */

.theme {
    background-color: rgba(128, 0, 128, 0.9);
    color: whitesmoke;
}

/* TYPES */

.type-normal {
    background-color: grey;
}

.type-fire {
    background-color: #f42;

}

.type-water {
    background-color: #3399ff;

}

.type-electric {
    background-color: #ffcc33;

}

.type-grass {
    background-color: #77cc55;

}

.type-ice {
    background-color: #66ccff;

}

.type-fighting {
    background-color: #bb5544;

}

.type-poison {
    background-color: #aa5599
}

.type-ground {
    background-color: #ddbb55;

}

.type-flying {
    background-color: #8899ff;

}

.type-psychic {
    background-color: #ff5599;

}

.type-bug {
    background-color: #aabb22;

}

.type-rock {
    background-color: #bbaa66;

}

.type-ghost {
    background-color: #6666bb;

}

.type-dragon {
    background-color: #7766ee;

}