{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">What the Muk even is the Dark Pokedex, you ask?</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Dictum sit amet justo donec enim diam vulputate ut pharetra. Pellentesque
                    massa placerat duis ultricies lacus sed turpis. Pretium quam vulputate dignissim suspendisse in.
                    Vestibulum mattis ullamcorper velit sed. Varius vel pharetra vel turpis nunc eget. Sit amet luctus
                    venenatis lectus magna fringilla. Ornare arcu dui vivamus arcu felis bibendum. Pretium nibh ipsum
                    consequat nisl vel pretium. Orci ac auctor augue mauris augue neque. In nulla posuere sollicitudin
                    aliquam ultrices sagittis orci a. Posuere ac ut consequat semper viverra nam. Semper viverra nam
                    libero justo laoreet sit amet cursus sit. Augue neque gravida in fermentum et sollicitudin ac orci
                    phasellus. Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu. Vel fringilla est
                    ullamcorper eget. </p>
                <p><br>
                    Nibh venenatis cras sed felis eget velit aliquet sagittis id. Cras tincidunt lobortis feugiat
                    vivamus at augue eget arcu. Massa ultricies mi quis hendrerit dolor magna. Amet dictum sit amet
                    justo donec enim diam vulputate ut. Eu volutpat odio facilisis mauris sit. Maecenas accumsan lacus
                    vel facilisis. Malesuada proin libero nunc consequat interdum varius. Risus at ultrices mi tempus.
                    Est lorem ipsum dolor sit amet. Amet cursus sit amet dictum. In aliquam sem fringilla ut morbi
                    tincidunt augue interdum. Nibh nisl condimentum id venenatis a condimentum vitae sapien. Tellus cras
                    adipiscing enim eu. Est velit egestas dui id. Amet volutpat consequat mauris nunc congue nisi vitae
                    suscipit tellus. </p>
                <p><br>
                    Dignissim cras tincidunt lobortis feugiat vivamus at augue. Facilisis volutpat est velit egestas
                    dui. Est ultricies integer quis auctor elit sed. Nisl pretium fusce id velit ut tortor. Aliquam id
                    diam maecenas ultricies mi eget mauris pharetra et. Pellentesque adipiscing commodo elit at
                    imperdiet. Imperdiet dui accumsan sit amet nulla facilisi. Neque convallis a cras semper auctor
                    neque vitae tempus quam. Amet facilisis magna etiam tempor orci eu lobortis. Lorem ipsum dolor sit
                    amet consectetur adipiscing elit pellentesque. Aliquet lectus proin nibh nisl condimentum id.
                    Egestas dui id ornare arcu odio ut sem nulla. </p>
                <p><br>
                    Fringilla est ullamcorper eget nulla facilisi etiam dignissim. Ipsum dolor sit amet consectetur
                    adipiscing elit. Etiam erat velit scelerisque in dictum non consectetur. Cursus in hac habitasse
                    platea. Suspendisse potenti nullam ac tortor vitae purus faucibus. Pellentesque dignissim enim sit
                    amet. Nibh tortor id aliquet lectus proin nibh. Ultricies lacus sed turpis tincidunt id aliquet
                    risus feugiat in. Vel turpis nunc eget lorem dolor. Purus non enim praesent elementum facilisis leo
                    vel fringilla est. Pellentesque habitant morbi tristique senectus et. </p>
                <p><br>
                    Nec feugiat in fermentum posuere urna nec. Tristique magna sit amet purus. Aliquam malesuada
                    bibendum arcu vitae elementum curabitur. Lobortis feugiat vivamus at augue eget arcu dictum varius
                    duis. Consectetur adipiscing elit ut aliquam purus sit. Aenean sed adipiscing diam donec adipiscing.
                    Ut sem viverra aliquet eget sit amet tellus cras. Nibh tortor id aliquet lectus proin nibh nisl
                    condimentum id. Amet consectetur adipiscing elit pellentesque habitant morbi. Iaculis nunc sed augue
                    lacus viverra vitae. Nunc sed augue lacus viverra vitae congue eu consequat. Imperdiet dui accumsan
                    sit amet nulla facilisi morbi tempus iaculis.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}