<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% block styles %}
    {% endblock %}
    <title>Dark Pokedex</title>
</head>

<body>

    <header>
        <!-- main nav -->
        <nav class="nav-extended text-shadow blue lighten-4">
            <div class="nav-wrapper">
                <ul class="left hide-on-med-and-down">
                    <!-- <li><a href="{{ url_for('get_pokemon') }}">Home</a></li> -->
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">New Pokemon</a></li>
                    <li><a href="#">Manage Pokemon</a></li>
                </ul>
                <a href="{{ url_for('get_pokemon') }}" class="brand-logo center">The Dark Pokedex</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Log Out</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                </ul>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fa fa-bars"></i></a>
            </div>
        </nav>
        <!-- mobile nav -->
        <ul class="sidenav" id="mobile-demo">
            <li>
                <h4 class="center-align light-blue-text text-darken-4">Dark Pokedex</h4>
            </li>
            <li><a href="{{ url_for('get_pokemon') }}">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">New Pokemon</a></li>
            <li><a href="#">Manage Pokemon</a></li>
            <li><a href="#">Log Out</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        </ul>

    </header>

    {% block content %}
    {% endblock %}

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% block scripts %}
{% endblock %}

</html>