{% extends "base.html" %}
{% block content %}


<div class="card row pokedex-entry text-shadow">
    <div class="card-content">
        <span class="card-title center-align header-color">Want to get in touch?</span>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Dictum sit amet justo donec enim diam vulputate ut pharetra. Pellentesque
            massa placerat duis ultricies lacus sed turpis. Pretium quam vulputate dignissim suspendisse in.
            Vestibulum mattis ullamcorper velit sed. Varius vel pharetra vel turpis nunc eget. Sit amet luctus
            venenatis lectus magna fringilla. Ornare arcu dui vivamus arcu felis bibendum. Pretium nibh ipsum
            consequat nisl vel pretium. Orci ac auctor augue mauris augue neque. In nulla posuere sollicitudin
            aliquam ultrices sagittis orci a. Posuere ac ut consequat semper viverra nam. Semper viverra nam
            libero justo laoreet sit amet cursus sit. Augue neque gravida in fermentum et sollicitudin ac orci
            phasellus. Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu. Vel fringilla est
            ullamcorper eget. </p>

        <p>

            Nibh venenatis cras sed felis eget velit aliquet sagittis id. Cras tincidunt lobortis feugiat
            vivamus at augue eget arcu. Massa ultricies mi quis hendrerit dolor magna. Amet dictum sit amet
            justo donec enim diam vulputate ut. Eu volutpat odio facilisis mauris sit. Maecenas accumsan lacus
            vel facilisis. Malesuada proin libero nunc consequat interdum varius. Risus at ultrices mi tempus.
            Est lorem ipsum dolor sit amet. Amet cursus sit amet dictum. In aliquam sem fringilla ut morbi
            tincidunt augue interdum. Nibh nisl condimentum id venenatis a condimentum vitae sapien. Tellus cras
            adipiscing enim eu. Est velit egestas dui id. Amet volutpat consequat mauris nunc congue nisi vitae
            suscipit tellus. </p>
        <br>

        <!-- github -->
        <div class="right">
            <a href="https://github.com/JamieM-Hub" target="_blank" id="github" class="btn theme">
                <i class="fab fa-github "></i>
            </a>
            <a href="https://www.linkedin.com/in/jamie-mckenzie-1a0999189/" target="_blank" id="linkedin"
                class="btn theme">
                <i class="fab fa-linkedin-in "></i>
            </a>
        </div>

        <form action="{{ url_for('contact') }}" method="POST" class="row">

            <!-- name -->
            <div class="input-field col s12">
                <input id="name" name="name" type="text" required>
                <label for="name">Your name</label>
            </div>

            <!-- feedback -->
            <div class="input-field col s12">
                <textarea id="feedback" name="feedback" class="materialize-textarea"></textarea>
                <label for="feedback">Feedback</label>
            </div>

            <!-- buttons -->
            <div class="row center-align">

                <!-- cancel button -->
                <div class="input-field col s4 offset-s2">
                    <a href="{{ url_for('get_pokemon') }}" class="btn waves-effect waves-light grey right">
                        Cancel <i class="fas fa-window-close right hide-on-small-and-down"></i>
                    </a>
                </div>

                <!-- submit button -->
                <div class="input-field col s4">
                    <button class="btn waves-effect waves-light yellow darken-4" type="submit" name="action">
                        Submit
                        <i class="fas fa-align-left right hide-on-small-and-down"></i>
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>


{% endblock %}