{% extends "base.html" %}
{% block content %}


<div class="card pokedex-entry text-shadow">
    <div class="card-content">
        <span class="card-title center-align header-color">Think you've spotted a Dark Pokemon?</span>
        <br>
        <p>
            Sed deserunt cumque eos rerum galisum aut optio
            iusto qui similique possimus id dolor quibusdam. Aut saepe velit vel dolor perspiciatis a eaque perspiciatis
            rem cupiditate molestiae. Sed excepturi provident ut ipsam voluptas qui nihil eius et repudiandae numquam.

            Aut Quis autem At ratione numquam rem sint rerum qui quod voluptatum aut rerum voluptatem ab tempore harum.
            Id accusamus obcaecati et voluptatem odio est omnis numquam. Vel molestiae assumenda sed quis laboriosam et
            quia distinctio in quasi necessitatibus ut Quis autem.</p>
        <br>
        <p>
            Lorem ipsum dolor sit amet. Et labore veniam ut reprehenderit expedita est labore ullam in vitae consectetur
            in dolore optio. Sit minima perspiciatis nam maiores consequatur aut quibusdam nostrum qui repellat quae aut
            internos iure aut quia fugit nam ipsam quas. Sit quia rerum ut provident quae ea necessitatibus ipsum et
            eligendi soluta est obcaecati quia sit velit itaque non laudantium itaque?

            Aut voluptatem illum in suscipit nulla vel dolor autem. Sed deserunt cumque eos rerum galisum aut optio
            iusto qui similique possimus id dolor quibusdam. </p>
    </div>
    <!-- <div class="card-action">
        <a href="#">GitHub</a>
        <a href="#">LinkedIn</a>
    </div> -->
</div>

<div class="row card pokedex-entry">
    <form class="col s12" action="{{ url_for('contribute') }}" method="POST">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <!-- Name -->
                    <div class="input-field col s6">
                        <input id="name" type="text" name="name" required>
                        <label for="name">Name</label>
                    </div>
                    <!-- Species -->
                    <div class="input-field col s6">
                        <input id="species" type="text" name="species" required>
                        <label for="species">Species</label>
                    </div>
                </div>
            </div>
            <!-- Type 1 -->
            <div class="input-field col s6">
                <select name="type_1" required>
                    <option value="" disabled selected>-</option>

                    <!-- display each type in the types list as options, with current selected -->
                    {% for type in types %}
                    <option value="{{ type }}">{{ type|capitalize }}</option>
                    {% endfor %}

                </select>
                <label for="type_1">Type (primary)</label>
            </div>

            <!-- Type 2 -->
            <div class="input-field col s6">
                <select name="type_2">
                    <option value="" selected>-</option>

                    <!-- display each type in the types list as options, with current selected -->
                    {% for type in types %}
                    <option value="{{ type }}">{{ type|capitalize }}</option>
                    {% endfor %}

                </select>
                <label for="type_2">Type (secondary)</label>
            </div>

            <!-- Height (feet) -->
            <div class="input-field col s4">
                <input id="height_feet" type="number" name="height_feet" max="25" required>
                <label for="height_feet">Height (feet)</label>
            </div>

            <!-- Height (inches) -->
            <div class="input-field col s4">
                <input id="height_inches" type="number" name="height_inches" max="11" required>
                <label for="height_inches">Height (inches)</label>
            </div>

            <!-- Weight -->
            <div class="input-field col s4">
                <input id="weight" type="number" name="weight" max="999" required>
                <label for="weight">Weight (pounds)</label>
            </div>

            <!-- Description -->
            <div class="input-field col s12">
                <input id="desc" type="text" name="desc" required>
                <label for="desc">Description</label>
            </div>

            <!-- image URL -->
            <div class="input-field col s12">
                <input id="img_src" type="text" name="img_src" required>
                <label for="img_src">Image URL</label>
            </div>

            <!-- action button -->
            <div class="input-field col s4 offset-s4 center-align">
                <button class="btn waves-effect waves-light yellow darken-3" type="submit" name="action">
                    Add To Pokedex
                    <i class="fas fa-file-invoice right"></i>
                </button>
            </div>

            <!-- cancel button -->
            <div class="input-field col s4 center-align">
                <a href="{{ url_for('get_pokemon') }}" class="btn waves-effect waves-light grey right">
                    Cancel <i class="fas fa-window-close right"></i>
                </a>
            </div>

        </div>
    </form>
</div>


{% endblock %}