{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Want to get in touch?</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Dictum sit amet justo donec enim diam vulputate ut pharetra. Pellentesque
                    massa placerat duis ultricies lacus sed turpis. Pretium quam vulputate dignissim suspendisse in.
                    Vestibulum mattis ullamcorper velit sed. Varius vel pharetra vel turpis nunc eget. Sit amet luctus
                    venenatis lectus magna fringilla. Ornare arcu dui vivamus arcu felis bibendum. Pretium nibh ipsum
                    consequat nisl vel pretium. Orci ac auctor augue mauris augue neque. In nulla posuere sollicitudin
                    aliquam ultrices sagittis orci a. Posuere ac ut consequat semper viverra nam. Semper viverra nam
                    libero justo laoreet sit amet cursus sit. Augue neque gravida in fermentum et sollicitudin ac orci
                    phasellus. Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu. Vel fringilla est
                    ullamcorper eget. </p>
                <div class="card-action center-align">
                    <a href="#">GITHUB</a>
                    <a href="#">OTHER</a>
                </div>
                <p>

                    Nibh venenatis cras sed felis eget velit aliquet sagittis id. Cras tincidunt lobortis feugiat
                    vivamus at augue eget arcu. Massa ultricies mi quis hendrerit dolor magna. Amet dictum sit amet
                    justo donec enim diam vulputate ut. Eu volutpat odio facilisis mauris sit. Maecenas accumsan lacus
                    vel facilisis. Malesuada proin libero nunc consequat interdum varius. Risus at ultrices mi tempus.
                    Est lorem ipsum dolor sit amet. Amet cursus sit amet dictum. In aliquam sem fringilla ut morbi
                    tincidunt augue interdum. Nibh nisl condimentum id venenatis a condimentum vitae sapien. Tellus cras
                    adipiscing enim eu. Est velit egestas dui id. Amet volutpat consequat mauris nunc congue nisi vitae
                    suscipit tellus. </p>
                <p><br>
                    <div class="row">
                        <form action="{{ url_for('contact') }}" method="POST" class="col s12">
                            <div class="row">
                                <!-- name -->
                                <div class="input-field col s12">
                                    <input id="name" name="name" type="text" required>
                                    <label for="name">Your name</label>
                                </div>

                                <!-- feedback -->
                                <div class="input-field col s12">
                                    <textarea id="feedback" name="feedback" class="materialize-textarea"></textarea>
                                    <label for="feedback">Feedback</label>
                                </div>

                                <!-- Confirm/cancel buttons -->
                                <div class="input-field col s12 center-align">
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                        <i class="fas fa-clipboard-check right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}