{% extends "base.html" %}
{% block content %}

<div class="card theme">
    <div class="card-content">
        <span class="card-title header-color">Edit Pokemon</span>
        <p>
            Lorem ipsum dolor sit amet. Et labore veniam ut reprehenderit expedita est labore ullam in vitae consectetur
            in dolore optio. Sit minima perspiciatis nam maiores consequatur aut quibusdam nostrum qui repellat quae aut
            internos iure aut quia fugit nam ipsam quas. Sit quia rerum ut provident quae ea necessitatibus ipsum et
            eligendi soluta est obcaecati quia sit velit itaque non laudantium itaque?

            Aut voluptatem illum in suscipit nulla vel dolor autem. Sed deserunt cumque eos rerum galisum aut optio
            iusto qui similique possimus id dolor quibusdam.</p>
    </div>
</div>

<div class="card pokedex-entry theme">
    <div class="row">

        <!-- column 1 -->
        <div class="col s4 center-align">

            <!-- image -->
            <div class="col s10 offset-s1 pokemon-img" style="background-image: url('{{ pokemon.img_src }}');">
            </div>

            <!-- edit/delete buttons -->
            <div class="row pokedex-under-img">
                <div class="col s4 offset-s4 pokedex-id header-color">
                    {% if pokemon.dex_id < 1000 %}
                    <strong>No. {{ pokemon.dex_id }}</strong>
                    {% else %}
                    <strong>No. {{ display_id }}</strong>
                    {% endif %}
                </div>
            </div>

        </div>


        <!-- column 2 -->
        <div class="col s4">
            <br>
            <!-- name and species-->
            <h4 class="center-align">{{ pokemon.name|upper }}</h4>
            <h6 class="center-align"><em class="header-color">{{ pokemon.species|capitalize }} Pokemon</em></h6>
            <br>
            <!-- type(s)-->
            <form class="row center-align" method="POST" action="{{ url_for('search_pokemon') }}">
                {% if not pokemon.type[1] %}
                <div class="col s12 pokemon-type">
                    <input class="btn btn-type type-{{ pokemon.type[0] }}" id="query" name="query" type="submit"
                        value="{{ pokemon.type[0]|upper }}">
                </div>
                {% else %}
                <div class="col s6 pokemon-type">
                    <input class="btn btn-type type-{{ pokemon.type[0] }}" id="query" name="query" type="submit"
                        value="{{ pokemon.type[0]|upper }}">
                </div>
                <div class="col s6 pokemon-type">
                    <input class="btn btn-type type-{{ pokemon.type[1] }}" id="query" name="query" type="submit"
                        value="{{ pokemon.type[1]|upper }}">
                </div>
                {% endif %}
            </form>
        </div>

        <!-- column 3 -->
        <div class="col s4 center-align">
            <div class="row header-color">
                <br>
                <!-- height -->
                <div class="col s6">
                    <h6><i class="fas fa-arrows-alt-v"></i>{{ pokemon.height[0] }}'{{ pokemon.height[1] }}"</h6>
                </div>
                <!-- weight -->
                <div class="col s6">
                    <h6><i class="fas fa-weight-hanging"></i>{{ pokemon.weight }} lb</h6>
                </div>
            </div>

            <!-- description -->
            <div class="row">
                <p>{{ pokemon.desc }}</p>
            </div>
            <!-- <div class="row"><em>by {{ pokemon.created_by }}</em></div> -->
            <!-- rating -->
            <!-- <h5 class="right-align">
                {{ pokemon.rating }}
                <i class="far fa-arrow-alt-circle-up"></i>
            </h5> -->
        </div>

    </div>
</div>

<div class="row card theme center-align">
    <form id="edit-pokemon" class="col s12" action="{{ url_for('edit_pokemon', dex_id=pokemon._id) }}" method="POST">
        <div class="row">
            <!-- Top row -->
            <div class="col s12">
                <div class="row">
                    <!-- hidden inputs to fix update bug -->
                    <div class="hide">
                        <input type="text" name="dex_id" id="dex_id" value="{{ pokemon.dex_id }}">
                        <input type="text" name="rating" id="rating" value="{{ pokemon.rating }}">
                    </div>
                    <!-- Name -->
                    <div class="input-field col s6 m3">
                        <input id="name" type="text" name="name" value="{{ pokemon.name|capitalize }}" required>
                        <label for="name">Name</label>
                    </div>
                    <!-- Species -->
                    <div class="input-field col s6 m3">
                        <input id="species" type="text" name="species" value="{{ pokemon.species|capitalize  }}"
                            required>
                        <label for="species">Species</label>
                    </div>
                    <!-- Type 1 -->
                    <div class="input-field col s6 m3">
                        <select name="type_1" required>

                            <!-- display each type in the types list as options, with current selected -->
                            {% for type in types %}
                            {% if pokemon.type[0] == type %}
                            <option value="{{ type }}" selected>{{ type|capitalize }}</option>
                            {% else %}
                            <option value="{{ type }}">{{ type|capitalize }}</option>
                            {% endif %}
                            {% endfor %}

                        </select>
                        <label for="type_1">Type (primary)</label>
                    </div>

                    <!-- Type 2 -->
                    <div class="input-field col s6 m3">
                        <select name="type_2" required>

                            <!-- display "-" option if pokemon does not have a secondary type -->
                            {% if pokemon.type[1] != "none" %}
                            <option value="">-</option>
                            {% else %}
                            <option value="" selected>-</option>
                            {% endif %}

                            <!-- display each type in the types list as options, with current selected -->
                            {% for type in types %}
                            {% if pokemon.type[1] == type %}
                            <option value="{{ type }}" selected>{{ type|capitalize }}</option>
                            {% else %}
                            <option value="{{ type }}">{{ type|capitalize }}</option>
                            {% endif %}
                            {% endfor %}

                        </select>
                        <label for="type_2">Type (secondary)</label>
                    </div>

                </div>
            </div>

            <div class="col s12">
                <div class="row">

                    <!-- Height (feet) -->
                    <div class="input-field col s2 offset-s3">
                        <input id="height_feet" type="number" name="height_feet" max="25"
                            value="{{ pokemon.height[0] }}" required>
                        <label for="height_feet">Height (feet)</label>
                    </div>

                    <!-- Height (inches) -->
                    <div class="input-field col s2">
                        <input id="height_inches" type="number" name="height_inches" max="11"
                            value="{{ pokemon.height[1] }}" required>
                        <label for="height_inches">Height (inches)</label>
                    </div>

                    <!-- Weight -->
                    <div class="input-field col s2">
                        <input id="weight" type="number" name="weight" max="999" value="{{ pokemon.weight }}" required>
                        <label for="weight">Weight (pounds)</label>
                    </div>
                </div>
            </div>

            <!-- Description -->
            <div class="input-field col s12">
                <input id="desc" type="text" name="desc" value="{{ pokemon.desc }}" required>
                <label for="desc">Description</label>
            </div>


            <!-- image URL -->
            <div class="input-field col s12">
                <input id="img_src" type="text" name="img_src" value="{{ pokemon.img_src }}" required>
                <label for="img_src">Image URL</label>
            </div>

            <!-- action buttons -->
            <div class="input-field col s10 offset-s1 center-align">

                <!-- delete -->
                <a href="#delete-modal" class="btn modal-trigger waves-effect waves-light red left">
                    Delete <i class="fas fa-ban right"></i>
                </a>

                <!-- update -->
                <a href="#edit-modal" class="btn modal-trigger waves-effect waves-light yellow darken-3 right"
                    type="submit" name="action">
                    Update <i class="fas fa-edit right"></i>
                </a>

                <!-- cancel -->
                <a href="{{ url_for('get_pokemon') }}" class="btn waves-effect waves-light grey center">
                    Cancel <i class="fas fa-window-close right"></i>
                </a>

            </div>
        </div>

    </form>
</div>

<!-- Edit Modal -->
<div id="edit-modal" class="modal theme">
    <div class="modal-content center-align">
        <h4 class="header-color">Edit Pokemon</h4>
        <p>Are you sure you want to edit {{ pokemon.name}}?</p>
    </div>
    <div class="modal-footer center-align">
        <button class="btn modal-close waves-effect waves-green grey">
            Cancel <i class="fas fa-window-close right"></i>
        </button>
        <button type="submit" form="edit-pokemon"
            formaction="{{ url_for('edit_pokemon', _anchor=pokemon.dex_id, dex_id=pokemon._id) }}"
            class="btn modal-close waves-effect waves-green yellow darken-3">
            Confirm <i class="fas fa-check right"></i>
        </button>
    </div> 
</div>

<!-- Delete Modal -->
<div id="delete-modal" class="modal theme">
    <div class="modal-content center-align">
        <h4 class="header-color">Delete Pokemon</h4>
        <p>Are you sure you want to delete {{ pokemon.name}}?</p>
        <p>*** {{ pokemon.name|upper }} WILL BE DELETED PERMANENTLY ***</p>
    </div>
    <div class="modal-footer center-align">
        <button class="btn modal-close waves-effect waves-green grey">
            Cancel <i class="fas fa-window-close right"></i>
        </button>
        <a href="{{ url_for('delete_pokemon', dex_id=pokemon._id) }}"
            class="btn modal-close waves-effect waves-green red">
            Confirm
            <i class="fas fa-skull-crossbones right"></i>
        </a>
    </div>
</div>

{% endblock %}