{% extends "base.html" %}
{% block content %}

<!-- display profile -->
<div class="row card pokedex-entry theme">
    <div class="col s8">

        <div class="row">


            <!-- column 1 -->
            <div class="col s6">

                <!-- image -->
                <div class="col s10 offset-s1 pokemon-img" style="background-image: url('{{ trainer.img_src }}');">
                </div>

                <!-- edit/delete buttons -->
                <div class="row pokedex-under-img">
                    <div class="col s4 offset-s4 pokedex-id center-align header-color">
                        <strong>No. {{ trainer.trainer_id }}</strong>

                    </div>
                </div>

            </div>

            <!-- column 2 -->
            <div class="col s6">
                <br>

                <!-- name & hometown -->
                <div class="trainer-name center-align"><strong class="flow-text">{{ trainer.name }}</strong>
                </div>
                <div class="trainer-hometown center-align"><em class="header-color">from
                        {{ trainer.hometown }}</em></div>
                <br>
                <!-- <div class="trainer-rating center-align"><i class="far fa-arrow-alt-circle-up"></i> {{ trainer.rating }}
                </div> -->

            </div>

            <!-- bio -->
            <div class="col s12">
                <p class="center-align trainer-bio">{{ trainer.bio }}</p>
            </div>

        </div>
    </div>
    <!-- column 3 -->
    <div class="col s4">

        <!-- favourite type -->
        <form class="row center-align" method="POST" action="{{url_for('search_pokemon') }}">
            <div class="col s12">
                <div class="">
                    Favourite Type<br>
                    {% if trainer.fav_type %}
                    <input class="btn btn-small btn-pokemon type-{{ trainer.fav_type }}" id="query" name="query"
                        type="submit" value="{{ trainer.fav_type|upper }}">
                    {% else %}
                    <div class="btn btn-small btn-pokemon">-</div>
                    {% endif %}
                </div>
            </div>
        </form>

        <!-- favourite pokemon -->
        <form class="row center-align" method="POST" action="{{url_for('search_pokemon') }}">
            <div class="col s12">
                <div class="">
                    Favourite Pokemon<br>
                    <input class="btn btn-small btn-pokemon" id="query" name="query" type="submit"
                        value="{{ trainer.fav_pokemon|upper }}">
                </div>
            </div>
        </form>

        <!-- squad -->
        <div class="center-align">
            {% if trainer.squad %}
            <form class="center-align" method="POST" action="{{url_for('search_pokemon') }}">
                Squad
                <div class="row">
                    {% for n in range(6) %}
                    {% if trainer.squad[n] %}
                    <div class="col s12">
                        <div class="">
                            <input class="btn btn-small btn-pokemon" id="query" name="query" type="submit"
                                value="{{ trainer.squad[n]|upper }}">
                        </div>
                    </div>
                    {% else %}
                    <div class="col s12">
                        <div class="">
                            <div class="btn btn-small btn-pokemon">-</div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </form>
            {% endif %}
        </div>

    </div>
</div>

<!-- edit profile -->
<div class="row card theme">
    <form class="col s12" method="POST" action="" autocomplete="off">
        <div class="row">

            <!-- Top Left column -->
            <div class="col s12">
                <div class="row">

                    <!-- Name -->
                    <div class="input-field col s6">
                        <input id="name" type="text" name="name" maxlength=20 value="{{ trainer.name }}" required>
                        <label for="name">Name</label>
                    </div>

                    <!-- Hometown -->
                    <div class="input-field col s6">
                        <input id="hometown" type="text" name="hometown" maxlength=14 value="{{ trainer.hometown }}"
                            required>
                        <label for="hometown">Hometown</label>
                    </div>

                </div>
            </div>

            <!-- Top Right column -->


            <!-- Favourite Type -->
            <div class="input-field col s6">
                <select name="fav_type" required>

                    <!-- display "-" option if trainer does not have a favourite type -->
                    {% if trainer.fav_type %}
                    <option value="none">-</option>
                    {% else %}
                    <option value="none" selected>-</option>
                    {% endif %}

                    <!-- display each type in the types list as options, with current favourite selected -->
                    {% for type in types %}
                    {% if trainer.fav_type == type %}
                    <option value="{{ type }}" selected>{{ type|capitalize }}</option>
                    {% else %}
                    <option value="{{ type }}">{{ type|capitalize }}</option>
                    {% endif %}
                    {% endfor %}

                </select>
                <label for="fav_type">Favourite Type</label>
            </div>

            <!-- Favourite Pokemon -->
            <div class="input-field col s12 m6">
                <select name="fav_pokemon">

                    <!-- generate empty option -->
                    {% if trainer.squad[n] %}
                    <option value="none">-</option>
                    {% else %}
                    <option value="none" selected>-</option>
                    {% endif %}

                    <!-- display pokemon in pokedex as options, with current favourite selected-->
                    {% for pokemon in pokedex %}
                    {% if trainer.fav_pokemon == pokemon.name %}
                    <option value="{{ pokemon.name }}" selected>{{ pokemon.name|capitalize }}</option>
                    {% else %}
                    <option value="{{ pokemon.name }}">{{ pokemon.name|capitalize }}</option>
                    {% endif %}
                    {% endfor %}

                </select>
                <label for="fav_pokemon">Favourite Pokemon</label>
            </div>


        </div>

        <!-- Squad section -->
        <div class="row">

            <!-- Generate 6 Squad options -->
            {% for n in range(6) %}

            <div class="input-field col s4">
                <select name="squad_{{ n+1 }} ">

                    <!-- forbid pokemon deselection in squad slot 1 -->
                    {% if n > 0 %}

                    {% if trainer.squad[n] %}
                    <option value="none">-</option>
                    {% else %}
                    <option value="none" selected>-</option>
                    {% endif %}

                    {% endif %}

                    <!-- print each pokemon in the pokedex as an option-->
                    {% for pokemon in pokedex %}
                    {% if trainer.squad[n] == pokemon.name %}
                    <option value="{{ pokemon.name }}" selected>{{ pokemon.name|capitalize }}</option>
                    {% else %}
                    <option value="{{ pokemon.name }}">{{ pokemon.name|capitalize }}</option>
                    {% endif %}
                    {% endfor %}

                </select>
                <label for="squad_{{ n+1 }}">Squad #{{ n+1 }}</label>
            </div>

            {% endfor %}

        </div>

        <!-- Bottom section -->
        <div class="row">

            <!-- Bio -->
            <div class="input-field col s12">
                <textarea id="bio" name="bio" maxlength="387" class="materialize-textarea white-text"
                    required>{{ trainer.bio }}</textarea>
                <label for="bio">Bio</label>
            </div>

            <!-- Image URL -->
            <div class="input-field col s12">
                <input id="img_src" name="img_src" type="url" value="{{ trainer.img_src }}" required>
                <label for="img_src">Image URL</label>
            </div>
            <br>

            <!-- username -->
            <!-- <div class="input-field col s6">
                <input id="username" name="username" type="text" maxlength="20" value="{{ trainer.username }}" disabled required>
                <label for="username">Username</label>
            </div> -->
            <!-- private/public switch -->
            <div class="switch center-align">
                <label for="private">
                    Private
                    {% if trainer.private %}
                    <input type="checkbox" id="private" name="private">
                    {% else %}
                    <input type="checkbox" id="private" name="private" checked>
                    {% endif %}
                    <span class="lever"></span>
                    Public
                </label>
            </div>
            <!-- password -->
            <div class="input-field col s6 offset-s3">
                <input id="password" name="password" type="password" maxlength="30" value="" required>
                <label for="password">Password</label>
            </div>



            <!-- Confirm/cancel buttons -->
            <div class="input-field col s12 center-align">
                <button class="btn waves-effect waves-light yellow darken-3" type="submit" name="action">Update
                    <i class="fas fa-clipboard-check right"></i>
                </button>
                <a href="{{ url_for('get_pokemon') }}" class="btn waves-effect waves-light grey">
                    Cancel <i class="fas fa-circle right"></i>
                </a>
            </div>

        </div>
    </form>
</div>


{% endblock %}