{% extends "base.html" %}
{% block content %}
<br>

<!-- display profile -->
<div class="row transparent pokedex-entry text-shadow">
    <div class="col s12">
        <div class="row">

            <!-- left column -->
            <div class="col s3">
                <div class="row">
                    <br>
                    <br>

                    <!-- hometown-->
                    <div class="col s12 center-align">
                        <br>
                        Hometown<br>
                        <!-- <div class="btn-small btn-pokemon theme">
                            {{ trainer.hometown|upper }}
                        </div> -->
                        <span class="header-color">{{ trainer.hometown|upper }}</span>
                    </div>

                    <!-- favourite type -->
                    <div class="col s12 center-align">
                        <br>
                        Favourite Type<br>
                        {% if trainer.fav_type and trainer.fav_type != "none" %}
                        <div class="btn-small btn-pokemon type-{{ trainer.fav_type }}">
                            {{ trainer.fav_type|upper }}
                        </div>
                        {% else %}
                        <div class="btn-small btn-pokemon grey">-</div>
                        {% endif %}
                    </div>

                    <!-- favourite pokemon -->
                    <div class="col s12 center-align">
                        <br>
                        Favourite Pokemon<br>
                        {% if trainer.fav_pokemon and trainer.fav_pokemon != "none" %}
                        <div class="btn-small btn-pokemon yellow darken-3">
                            {{ trainer.fav_pokemon|upper }}
                        </div>
                        {% else %}
                        <div class="btn-small btn-pokemon grey">-</div>
                        {% endif %}
                    </div>

                </div>
            </div>

            <!-- middle column-->
            <div class="col s6">
                <div class="row">

                    <!-- name -->
                    <div class="col s12 center-align">
                        <strong class="flow-text text-shadow trainer-name">{{ trainer.name|upper }}</strong>
                        <!-- trainer ID -->
                        <div class="col s12 text-shadow center-align">
                            <strong class="pokemon-id header-color">Trainer #{{ trainer.trainer_id }}</strong>
                            <br>
                            <br>
                        </div>
                    </div>

                    <!-- image -->
                    <div class="col s12">
                        <div class="pokemon-img" style="background-image: url('{{ trainer.img_src }}');">
                        </div>
                    </div>



                </div>
            </div>

            <!-- right column -->
            <div class="col s3">
                <div class="row">
                    <br>
                    <br>
                    <br>

                    <!-- squad -->
                    <div class="col s12 center-align">
                        Squad
                        <br>
                        {% if trainer.squad %}

                        <div class="center-align">
                            <div class="row">
                                {% for n in range(6) %}
                                {% if trainer.squad[n] and trainer.squad[n] != "none" %}
                                <div class="col s12">
                                    <div class="">
                                        <div class="btn btn-small btn-pokemon theme">
                                            {{ trainer.squad[n]|upper }}
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="col s12">
                                    <div class="">
                                        <div class="btn btn-small btn-pokemon grey">-</div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
        <!-- bottom row -->
        <div class="row">

            <!-- bio -->
            <div class="col s12">
                <p class=" trainer-bio center-align ">"{{ trainer.bio }}"</span>
            </div>
            <br>
            <br>
        </div>

    </div>
</div>

<!-- buttons -->
<div class="row center-align">

    <!-- cancel -->
    <div class="col s4">
        <a href="{{ url_for('profile', username=session['user']) }}"
            class="btn btn-large waves-effect waves-light grey">
            Cancel
            <i class="fas fa-window-close right"></i>
        </a>
    </div>

    <!-- preview -->
    <div class="col s4">
        <button class="btn btn-large waves-effect waves-light theme" form="edit-profile"
            formaction="{{ url_for('preview_profile', username=session['user'], index=index) }}" type="submit"
            name="action">
            Preview
            <i class="fas fa-eye right"></i>
        </button>
    </div>

    <!-- update -->
    <div class="col s4">
        <a class="btn btn-large modal-trigger waves-effect waves-light yellow darken-3" href="#edit-modal" type="submit"
            name="action">
            Update
            <i class="fas fa-clipboard-check right"></i>
        </a>
    </div>

</div>

<!-- form -->
<div class="row card pokedex-entry center-align">
    <form class="col s12" method="POST" action="" id="edit-profile" autocomplete="off">
        <div class="row">

            <!-- private/public switch -->
            <div class="col s12 switch center-align">
                <label for="private">
                    Private
                    {% if trainer.private %}
                    <input type="checkbox" id="private" name="private">
                    {% else %}
                    <input type="checkbox" id="private" name="private" checked>
                    {% endif %}
                    <span class="lever"></span>
                    Public
                </label>
            </div>

            <!-- username -->
            <div class="input-field col s6">
                <input id="username" name="username" type="text" pattern="" value="{{ trainer.username }}" disabled>
                <label for="username">Username</label>
            </div>
            <!-- password (5-20 any non-whitespace characters) -->
            <div class="input-field col s6">
                <input id="password" name="password" type="password" pattern="^([\S]){5,20}$" value="" required>
                <label for="password">Enter current Password to confirm</label>
            </div>
            <!-- CHANGE password (5-20 any non-whitespace characters) -->
            <div class="input-field col s6">
                <input id="change_password" name="change_password" type="password" pattern="^([\S]){5,20}$" value="">
                <label for="change_password">Change Password</label>
            </div>
            <!-- CONFIRM password (5-20 any non-whitespace characters) -->
            <div class="input-field col s6">
                <input id="confirm_password" name="confirm_password" type="password" pattern="^([\S]){5,20}$" value="">
                <label for="confirm_password">Confirm new Password</label>
            </div>

            <!-- Top Left column -->
            <div class="col s12">
                <div class="row">

                    <!-- Name (3-20 letters, spaces allowed within string but not at start or end) -->
                    <div class="input-field col s6">
                        <input id="name" type="text" name="name" pattern="^[a-zA-Z]+([ ]?[a-zA-Z]+)*$" minlength="3"
                            maxlength="20" value="{{ trainer.name }}" required>
                        <label for="name">Name</label>
                    </div>

                    <!-- Hometown (3-20 letters with apostrophe, spaces allowed within string but not at start or end) -->
                    <div class="input-field col s6">
                        <input id="hometown" type="text" name="hometown" pattern="^[a-zA-Z']+([ ]?[a-zA-Z']+)*$"
                            minlength="3" maxlength="20" value="{{ trainer.hometown }}" required>
                        <label for="hometown">Hometown</label>
                    </div>

                </div>
            </div>

            <!-- Top Right column -->


            <!-- Favourite Type -->
            <div class="input-field col s6">
                <select name="fav_type" required>

                    <!-- display "-" option if trainer does not have a favourite type -->
                    {% if trainer.fav_type %}
                    <option value="none">-</option>
                    {% else %}
                    <option value="none" selected>-</option>
                    {% endif %}

                    <!-- display each type in the types list as options, with current favourite selected -->
                    {% for type in types %}
                    {% if trainer.fav_type == type %}
                    <option value="{{ type }}" selected>{{ type|capitalize }}</option>
                    {% else %}
                    <option value="{{ type }}">{{ type|capitalize }}</option>
                    {% endif %}
                    {% endfor %}

                </select>
                <label for="fav_type">Favourite Type</label>
            </div>

            <!-- Favourite Pokemon -->
            <div class="input-field col s12 m6">
                <select name="fav_pokemon">

                    <!-- generate empty option -->
                    {% if trainer.squad[n] %}
                    <option value="none">-</option>
                    {% else %}
                    <option value="none" selected>-</option>
                    {% endif %}

                    <!-- display pokemon in pokedex as options, with current favourite selected-->
                    {% for pokemon in pokedex %}
                    {% if trainer.fav_pokemon == pokemon.name %}
                    <option value="{{ pokemon.name }}" selected>{{ pokemon.name|capitalize }}</option>
                    {% else %}
                    <option value="{{ pokemon.name }}">{{ pokemon.name|capitalize }}</option>
                    {% endif %}
                    {% endfor %}

                </select>
                <label for="fav_pokemon">Favourite Pokemon</label>
            </div>


        </div>

        <!-- Squad section -->
        <div class="row">

            <!-- Generate 6 Squad options -->
            {% for n in range(6) %}

            <div class="input-field col s4">
                <select name="squad_{{ n+1 }} ">

                    <!-- forbid pokemon deselection in squad slot 1 -->
                    {% if n > 0 %}

                    {% if trainer.squad[n] %}
                    <option value="none">-</option>
                    {% else %}
                    <option value="none" selected>-</option>
                    {% endif %}

                    {% endif %}

                    <!-- print each pokemon in the pokedex as an option-->
                    {% for pokemon in pokedex %}
                    {% if trainer.squad[n] == pokemon.name %}
                    <option value="{{ pokemon.name }}" selected>{{ pokemon.name|capitalize }}</option>
                    {% else %}
                    <option value="{{ pokemon.name }}">{{ pokemon.name|capitalize }}</option>
                    {% endif %}
                    {% endfor %}

                </select>
                <label for="squad_{{ n+1 }}">Squad #{{ n+1 }}</label>
            </div>

            {% endfor %}

        </div>

        <!-- Bottom section -->
        <div class="row">

            <!-- Bio (3-387 any characters) -->
            <div class="input-field col s12">
                <textarea id="bio" name="bio" minlength="3" maxlength="387"
                    class="materialize-textarea white-text center-align" required>{{ trainer.bio }}</textarea>
                <label for="bio">Bio</label>
            </div>

            <!-- Image URL -->
            <div class="input-field col s12">
                <input id="img_src" name="img_src" type="url" value="{{ trainer.img_src }}">
                <label for="img_src">Image URL</label>
            </div>
            <br>

            <!-- username (5-20 alphanumeric characters plus underscore and dash) -->
            <!-- <div class="input-field col s6">
                <input id="username" name="username" type="text" pattern="^(?!^ +$)([\w-]+){5,20}$" value="{{ trainer.username }}" disabled required>
                <label for="username">Username</label>
            </div> -->
        </div>
    </form>
</div>

<!-- edit modal -->
<div id="edit-modal" class="modal theme">
    <div class="modal-content center-align">
        <p>Are you happy with your changes?</p>

        <button class="btn modal-close waves-effect waves-light grey">
            Cancel
            <i class="fas fa-window-close right"></i>
        </button>

        <button class="btn modal-close waves-effect waves-light yellow darken-3" form="edit-profile"
            formaction="{{ url_for('edit_profile', username=session['user'], index=index) }}" type="submit"
            name="action">
            Confirm
            <i class="fas fa-clipboard-check right"></i>
        </button>

    </div> 
</div>

{% endblock %}