{% extends "base.html" %}
{% block content %}

<!-- trainer profile -->
<div class="row transparent pokedex-entry text-shadow" id="{{ trainer.trainer_id }}">

    <!-- image and ID -->
    <div class="col s6 m4 center-align">
        <div class="pokemon-img" style="background-image: url('{{ trainer.img_src }}');"></div>
        <div>
            <strong class="pokemon-id header-color">Trainer #{{ trainer.trainer_id }}</strong>
        </div>
    </div>

    <!-- name, favourite type and favourite pokemon -->
    <div class="col s6 m4 center-align">
        <!-- name -->
        <strong class="flow-text text-shadow trainer-name">{{ trainer.name|upper }}</strong>

        <!-- hometown-->
        <div class="center-align header-color">{{ trainer.hometown }}</div>
        <br>
        <!-- favourite type -->
        <form class="center-align" method="POST" action="{{url_for('search_pokemon') }}">
            Favourite Type<br>
            {% if trainer.fav_type and trainer.fav_type != "none" %}
            <input class="btn btn-small btn-pokemon type-{{ trainer.fav_type }}" id="query" name="query" type="submit"
                value="{{ trainer.fav_type|upper }}">
            {% else %}
            <div class="btn btn-small btn-pokemon grey">-</div>
            {% endif %}
        </form>

        <!-- favourite pokemon -->
        <form class="center-align">
            <br>
            Favourite Pokemon<br>

            {% if trainer.fav_pokemon and trainer.fav_pokemon != "none" %}
            {% for pokemon in pokedex %}

            {% if pokemon.dex_id > 1000 %}
            {% set anchor = pokemon.dex_id + 1 %}
            {% else %}
            {% set anchor = pokemon.dex_id - 1 %}
            {% endif %}

            {% if trainer.fav_pokemon|lower == pokemon.name|lower %}
            {% set type = pokemon.type[0] %}

            <input class="btn btn-small btn-pokemon type-{{ type }}" type="submit"
                value="{{ trainer.fav_pokemon|upper }}" formaction="{{url_for('get_pokemon', _anchor=anchor) }}">


            {% endif %}
            {% endfor %}

            {% else %}
            <div class="btn btn-small btn-pokemon grey">-</div>

            {% endif %}
        </form>

    </div>

    <!-- squad -->
    <div class="col s12 m4 center-align">
        Squad
        <br>
        {% if trainer.squad %}

        <form class="center-align">
            <div class="row">

                {% for n in range(6) %}
                <div class="col s4 m12">
                    <div class="">

                        {% if trainer.squad[n] and trainer.squad[n] != "none" %}
                        {% for pokemon in pokedex %}

                        {% if pokemon.dex_id > 1000 %}
                        {% set anchor = pokemon.dex_id + 1 %}
                        {% else %}
                        {% set anchor = pokemon.dex_id - 1 %}
                        {% endif %}

                        {% if trainer.squad[n]|lower == pokemon.name|lower %}
                        {% set type = pokemon.type[0] %}

                        <input class="btn btn-small btn-pokemon type-{{ type }}" type="submit"
                            value="{{ trainer.squad[n]|upper }}"
                            formaction="{{url_for('get_pokemon', _anchor=anchor) }}">


                        {% endif %}

                        {% endfor %}

                        {% else %}

                        <div class="btn btn-small btn-pokemon grey">-</div>

                        {% endif %}

                    </div>
                </div>
                {% endfor %}

            </div>
        </form>

        {% endif %}
    </div>

    <!-- bio -->
    <div class="col s12">
        <p class="trainer-bio center-align ">"{{ trainer.bio }}"</span>
    </div>

    <!-- rating -->
    <div class="col s12">

        <span class="right">Rating: <span class="header-color">{{ trainer.rating }}</span></span>
        <!-- <div>Rated By: <span class="header-color">{{ trainer.rated_by }}</span></div> -->

    </div>
</div>

<!-- buttons -->
<div class="row center-align">

    <!-- log out -->
    <div class="col s4">
        <a href="{{ url_for('account_settings', username=session['user'], index=trainer._id) }}"
            class="btn btn-large waves-effect waves-light grey">
            Account
            <i class="fas fa-cog right hide-on-med-and-down"></i>
        </a>
    </div>

    <!-- add to pokedex -->
    <div class="col s4">
        <a href="{{ url_for('contribute') }}" class="btn btn-large waves-effect waves-light theme">
            Contribute
            <i class="fas fa-dragon right hide-on-med-and-down"></i>
        </a>
    </div>

    <!-- edit -->
    <div class="col s4">
        <a href="{{ url_for('edit_profile', username=session['user'], index=trainer._id) }}"
            class="btn btn-large waves-effect waves-light yellow darken-3">
            Edit Profile
            <i class="fas fa-address-card right hide-on-med-and-down"></i>
        </a>
    </div>

</div>

{% if pokedex %}
<!-- display list of pokemon created by user -->
{% for pokemon in pokedex %}

<!-- pokedex entry -->
<div class="row card pokedex-entry theme" id="{{ pokemon.dex_id }}">
    <!-- ensure user created pokemon display correct negative number -->
    {% if pokemon.dex_id > 1000 %}
    {% set display_id = -(pokemon.dex_id - 1000) %}
    {% endif %}

    <!-- image and ID -->
    <div class="col s6 l4 center-align">
        <div class="row">
            <!-- image -->
            <div class="col s10 offset-s1 pokemon-img type-{{ pokemon.type[0] }}"
                style="background-image: url('{{ pokemon.img_src }}');">
            </div>

            <!-- id -->
            <div class="row pokedex-under-img">
                <div class="col s4 offset-s4 pokedex-id header-color">
                    {% if pokemon.dex_id < 1000 %}
                    <strong>No. <span class="white-text">{{ pokemon.dex_id }}</span></strong>
                    {% else %}
                    <strong>No. <span class="white-text">{{ display_id }}</span></strong>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

    <!-- name, species, height and weight -->
    <div class="col s6 l4 center-align">
        <div class="row">

            <!-- name and species-->
            <div class="col s12 center-align">
                <h4 class="center-align pokemon-name">{{ pokemon.name|upper }}</h4>
                <!-- <h6><em class="header-color pokemon-species">{{ pokemon.species|capitalize }} Pokemon</em></h6> -->
                <h6 class="header-color pokemon-species">{{ pokemon.species|capitalize }}</h6>
            </div>
            <br><br>

            <!-- height -->
            <h6 class="col s12 m6 pokemon-stats">
                <i class="fas fa-arrows-alt-v header-color"></i>
                {% if pokemon.height[1]|int < 10 %}
                {% set inches = "0" + pokemon.height[1] %}
                {{ pokemon.height[0] }}' {{ inches }}"
                {% else %}
                {{ pokemon.height[0] }}' {{ pokemon.height[1] }}"
                {% endif %}
            </h6>

            <!-- weight -->
            <h6 class="col s12 m6 pokemon-stats">
                <i class="fas fa-weight-hanging header-color"></i>
                {{ pokemon.weight }} lb
            </h6>

        </div>
    </div>

    <!-- description (small devices) -->
    <div class="col l4 hide-on-med-and-down pokemon-desc center-align valign-wrapper">
        <p>{{ pokemon.desc }}</p>
    </div>

    <!-- type(s)-->
    <form class="col s12 center-align" method="POST" action="{{ url_for('search_pokemon') }}">
        {% if pokemon.type[1] == "" %}
        <div class="col s6 offset-s3 pokemon-type">
            <input class="btn btn-large btn-type type-{{ pokemon.type[0] }}" id="query" name="query" type="submit"
                value="{{ pokemon.type[0]|upper }}">
        </div>
        {% else %}
        <div class="col s6 pokemon-type">
            <input class="btn btn-large btn-type type-{{ pokemon.type[0] }}" id="query" name="query" type="submit"
                value="{{ pokemon.type[0]|upper }}">
        </div>
        <div class="col s6 pokemon-type">
            <input class="btn btn-large btn-type type-{{ pokemon.type[1] }}" id="query" name="query" type="submit"
                value="{{ pokemon.type[1]|upper }}">
        </div>
        {% endif %}
    </form>

    <!-- description (small devices) -->
    <div class="col s12 hide-on-large-only pokemon-desc center-align">
        <p>{{ pokemon.desc }}</p>
    </div>

    <!-- created by -->
    <form class="col s6">
        {% for trainer in trainers if pokemon.created_by|lower == trainer.username|lower %}
        {% set display_name = trainer.name %}
        <em>Discovered by <span class="header-color">{{ display_name }}</span></em>
        {% endfor %}
    </form>

    <!-- rating -->
    <form class="col s6 right-align">

        <span>Rating: <span class="header-color">{{ pokemon.rating }}</span> </span>
        <!-- <div>Rated By: <span class="header-color">{{ pokemon.rated_by }}</span></div> -->

    </form>

</div>

{% endfor %}

{% endif %}

{% endblock %}