{% extends "base.html" %}
{% block content %}

<!-- info section -->
<div class="row card theme">
    <h4 class="center-align header-color">So you want to become a Trainer, huh?</h4>
    <p>
        Pretium quam vulputate dignissim suspendisse in.
        Vestibulum mattis ullamcorper velit sed. Varius vel pharetra vel turpis nunc eget. Sit amet luctus
        venenatis lectus magna fringilla. Ornare arcu dui vivamus arcu felis bibendum. Pretium nibh ipsum
        consequat nisl vel pretium. Orci ac auctor augue mauris augue neque. In nulla posuere sollicitudin
        aliquam ultrices sagittis orci a. Posuere ac ut consequat semper viverra nam. Semper viverra nam
        libero justo laoreet sit amet cursus sit. Augue neque gravida in fermentum et sollicitudin ac orci
        phasellus. Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu. Vel fringilla est
        ullamcorper eget.
    </p>

    <a href="{{ url_for('login') }}" class="btn waves-effect waves-light grey right">
        Log In
        <i class="fas fa-user right"></i>
    </a>
</div>

<!-- form -->
<div class="row card theme">
    <form class="col s12" method="POST" action="" autocomplete="off">
        <div class="row">

            <!-- Top Left column -->
            <div class="col s12">
                <div class="row">

                    <!-- Name -->
                    <div class="input-field col s6">
                        <input id="name" type="text" name="name" maxlength="20" required>
                        <label for="name">Name</label>
                    </div>
                    <!-- Hometown -->
                    <div class="input-field col s6">
                        <input id="hometown" type="text" name="hometown" maxlength="20" required>
                        <label for="hometown">Hometown</label>
                    </div>

                </div>
            </div>
            <!-- favourite type -->
            <div class="input-field col s6">
                <select name="type_1" required>
                    <option value="none" selected>-</option>
                    <!-- display each type in the types list as options, with current selected -->
                    {% for type in types %}
                    <option value="{{ type }}">{{ type|capitalize }}</option>
                    {% endfor %}

                </select>
                <label for="type_1">Favourite Type</label>
            </div>

            <!-- Favourite Pokemon -->
            <div class="input-field col s6">
                <select name="fav_pokemon">
                    <option value="none" selected>-</option>
                    {% for pokemon in pokedex %}
                    <option value="{{ pokemon.name }}">{{ pokemon.name|capitalize }}</option>
                    {% endfor %}
                </select>
                <label for="fav_pokemon">Favourite Pokemon</label>
            </div>

        </div>
        <!-- Squad section -->
        <div class="row">

            <!-- Generate 6 Squad options -->
            {% for num in range(1,7) %}
            <div class="input-field col s4">
                <select name="squad_{{ num }} ">
                    <option value="none" selected>-</option>
                    {% for pokemon in pokedex %}
                    <option value="{{ pokemon.name }}">{{ pokemon.name|capitalize }}</option>
                    {% endfor %}
                </select>
                <label for="squad_{{ num }}">Squad #{{ num }}</label>
            </div>
            {% endfor %}

        </div>

        <!-- Bottom section -->
        <div class="row">

            <!-- Bio -->
            <div class="input-field col s12">
                <textarea id="bio" name="bio" maxlength="387" class="materialize-textarea white-text" required></textarea>
                <label for="bio">Bio</label>
            </div>

            <!-- Image URL -->
            <div class="input-field col s12">
                <input id="img_src" name="img_src" type="url" required>
                <label for="img_src">Image URL</label>
            </div>

            <!-- username -->
            <div class="input-field col s6">
                <input id="username" name="username" type="text" maxlength="20" required>
                <label for="username">Username</label>
            </div>

            <!-- password -->
            <div class="input-field col s6">
                <input id="password" name="password" type="password" maxlength="30" required>
                <label for="password">Password</label>
            </div>

            <br>
            <!-- private/public switch -->
            <div class="switch center-align">
                <label for="private">
                    Private
                    <input type="checkbox" id="private" name="private">
                    <span class="lever"></span>
                    Public
                </label>
            </div>
            <br>
            <!-- Confirm/cancel buttons -->
            <div class="input-field col s12 center-align">
                <button class="btn waves-effect waves-light yellow darken-3" type="submit" name="action">Register
                    <i class="fas fa-clipboard-check right"></i>
                </button>
                <a href="{{ url_for('get_pokemon') }}" class="btn waves-effect waves-light red">
                    Cancel <i class="fas fa-window-close right"></i>
                </a>
            </div>

        </div>
    </form>
</div>

{% endblock %}