{% extends "base.html" %}
{% block content %}

<!-- Search bar -->
<div class="row card-panel grey">
    <form class="col s12" action="{{url_for('search_trainers') }}" method="post">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix"></i>
                <input type="text" name="query" id="query" required>
                <label for="query">Search Pokemon</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('trainers') }}" class="red btn text-shadow">Reset</a>
                <button type="submit" class="light-blue">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>

{% if trainers %}
{% for trainer in trainers %}
{% if not trainer.private %}

<div class="row card pokedex-entry yellow lighten-3">
    <div class="col s8">
        <div class="row">

            <!-- column 1 -->
            <div class="col s6">
                <!-- img -->
                <div class="center-align"><img class="pokemon-img" src="{{ trainer.img_src }}" alt="{{ trainer.name }}"
                        height="200">
                </div>

                <!-- trainer ID -->
                <div class="pokemon-id center-align"><strong>No. {{ trainer.trainer_id }}</strong>
                </div>
            </div>

            <!-- column 2 -->
            <div class="col s6">
                <br>

                <!-- name & hometown -->
                <div class="trainer-name center-align"><strong class="flow-text">{{ trainer.name|upper }}</strong></div>
                <div class="trainer-hometown center-align"><em>from {{ trainer.hometown|capitalize }}</em></div>
                <br>
                <div class="trainer-rating center-align"><i class="far fa-arrow-alt-circle-up"></i> {{ trainer.rating }}
                </div>

            </div>

            <!-- bio -->
            <div class="col s12">
                <p class="center-align trainer-bio">{{ trainer.bio }}</p>
            </div>

        </div>
    </div>
    <!-- column 3 -->
    <div class="col s4">

        <!-- favourite type -->
        <form class="row center-align" method="POST" action="{{url_for('search_pokemon') }}">
            <div class="col s12">
                <div class="">
                    Favourite Type<br>
                    {% if trainer.fav_type %}
                    <input class="btn btn-small btn-pokemon type-{{ trainer.fav_type }}" id="query" name="query"
                        type="submit" value="{{ trainer.fav_type|upper }}">
                    {% else %}
                    <div class="btn btn-small btn-pokemon grey">-</div>
                    {% endif %}
                </div>
            </div>
        </form>

        <!-- favourite pokemon -->
        <form class="row center-align" method="POST" action="{{url_for('search_pokemon') }}">
            <div class="col s12">
                <div class="">
                    Favourite Pokemon<br>
                    <input class="btn btn-small btn-pokemon grey" id="query" name="query" type="submit"
                        value="{{ trainer.fav_pokemon|upper }}">
                </div>
            </div>
        </form>

        <!-- squad -->
        <div class="center-align">
            {% if trainer.squad %}
            <form class="center-align" method="POST" action="{{url_for('search_pokemon') }}">
                Squad
                <div class="row">
                    {% for n in range(6) %}
                    {% if trainer.squad[n] %}
                    <div class="col s12">
                        <div class="">
                            <input class="btn btn-small btn-pokemon grey" id="query" name="query" type="submit"
                                value="{{ trainer.squad[n]|upper }}">
                        </div>
                    </div>
                    {% else %}
                    <div class="col s12">
                        <div class="">
                            <div class="btn btn-small btn-pokemon grey">-</div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </form>
            {% endif %}
        </div>

    </div>
</div>

{% endif %}
{% endfor %}
{% else %}
<div class="row card pokedex-entry yellow lighten-3">
    No Trainers found!
</div>
{% endif %}

{% endblock %}