{% extends "base.html" %}
{% block content %}

<!-- Search bar -->
<form class="transparent" action="{{url_for('search_trainers') }}" method="POST">
    <div class="row center-align">
        <div class="col s2 search-button">
            <button type="submit" class="btn theme text-shadow">
                <i class="fas fa-search header-color"></i>
            </button>
        </div>
        <div class="col s8">
            <div class="input-field">
                <input class="search-bar" type="text" name="query" id="query" autofocus required>
                <label for="query">Search</label>
            </div>
        </div>
        <div class="col s2 search-button">
            <a href="{{ url_for('trainers') }}" class="btn theme text-shadow">
                <i class="far fa-times-circle header-color"></i>
            </a>
        </div>
    </div>
</form>

{% if trainers %}
{% for trainer in trainers %}
{% if not trainer.private %}

<!-- trainer profile -->
<div class="row transparent pokedex-entry text-shadow">
    <div class="col s12">
        <div class="row">

            <!-- left column -->
            <div class="col s3">
                <div class="row">
                    <br>
                    <br>
                    <!-- hometown-->
                    <form class="col s12 center-align" method="POST" action="{{url_for('search_pokemon') }}">
                        <br>
                        Hometown<br>
                        <!-- <input class="btn btn-small btn-pokemon theme" id="query" name="query" type="submit"
                            value="{{ trainer.hometown }}"> -->
                        <span class="header-color">{{ trainer.hometown|upper }}</span>
                    </form>

                    <!-- favourite type -->
                    <form class="col s12 center-align" method="POST" action="{{url_for('search_pokemon') }}">
                        <br>
                        Favourite Type<br>
                        {% if trainer.fav_type %}
                        <input class="btn btn-small btn-pokemon type-{{ trainer.fav_type }}" id="query" name="query"
                            type="submit" value="{{ trainer.fav_type|upper }}">
                        {% else %}
                        <div class="btn btn-small btn-pokemon grey">-</div>
                        {% endif %}
                    </form>

                    <!-- favourite pokemon -->
                    <form class="col s12 center-align" method="POST" action="{{url_for('search_pokemon') }}">
                        <br>
                        Favourite Pokemon<br>
                        <input class="btn btn-small btn-pokemon yellow darken-3" id="query" name="query" type="submit"
                            value="{{ trainer.fav_pokemon|upper }}">
                    </form>

                </div>
            </div>

            <!-- middle column-->
            <div class="col s6">
                <div class="row">

                    <!-- name -->
                    <div class="col s12 center-align">
                        <strong class="flow-text text-shadow trainer-name">{{ trainer.name|upper }}</strong>
                        <!-- trainer ID -->
                        <div class="col s12 text-shadow center-align">
                            <strong class="pokemon-id header-color">Trainer #{{ trainer.trainer_id }}</strong>
                            <br>
                            <br>
                        </div>
                    </div>

                    <!-- image -->
                    <div class="col s12">
                        <div class="pokemon-img" style="background-image: url('{{ trainer.img_src }}');">
                        </div>
                    </div>



                </div>
            </div>

            <!-- right column -->
            <div class="col s3">
                <div class="row">
                    <br>
                    <br>
                    <br>
                    <!-- squad -->
                    <div class="col s12 center-align">
                        Squad
                        <br>
                        {% if trainer.squad %}

                        <form class="center-align" method="POST" action="{{url_for('search_pokemon') }}">
                            <div class="row">
                                {% for n in range(6) %}
                                {% if trainer.squad[n] and trainer.squad[n] != "none" %}
                                <div class="col s12">
                                    <div class="">
                                        <input class="btn btn-small btn-pokemon theme" id="query" name="query"
                                            type="submit" value="{{ trainer.squad[n]|upper }}">
                                    </div>
                                </div>
                                {% else %}
                                <div class="col s12">
                                    <div class="">
                                        <div class="btn btn-small btn-pokemon grey">-</div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </form>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- bottom row -->
        <div class="row">

            <!-- bio -->
            <div class="col s12">
                <p class=" trainer-bio center-align ">"{{ trainer.bio }}"</span>
            </div>
            <br>
            <br>
        </div>

    </div>
</div>

{% endif %}
{% endfor %}
{% endif %}

{% endblock %}